<div class="container">
    <div class="row">
        <div class="col-3 name my-2 px-0 py-0 mx-1">With you and : </div>
        <div class="col-8">
            <p-chips formControlName="options" class="options" placeholder="enter names or email addresses"></p-chips>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-6 border-right">
            <input type="text" placeholder="Enter a description...">
            <hr>
            <input type="text" placeholder="amount...">
            <hr>
            <div class="text-secondary splitLine">Paid by <button class="text-success splitBtn">you</button> and split
                <button class="text-success splitBtn">equally</button>​.</div>
            <div class="ui-g-12 ui-md-4">
                <div class="row">
                    <div class="col-4 my-2"> Date:</div>
                    <div class="col-8">
                        <p-calendar placeholder="select date"></p-calendar>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            hello
        </div>
    </div>
    <hr>

    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary mx-2">cancel</button>
        <button class="btn btn-success">save</button>
    </div>
</div>